= simple_nested_form_for [ :admin, resource ], html: { multipart: true} do |f|
	.clearfix	
		%fieldset#left_column
			%legend Client
			= f.input :organization
			= f.input :first_name
			= f.input :last_name
			= f.input :email
			= f.input :url
			= f.input :description
			= f.input :service_tokens, label: 'Services'#, input_html:{ data:{ autosuggest: Service.select('id, name') } }
		%fieldset#right_column
			%legend Logo
			= f.simple_fields_for :client_logo
			= f.link_to_add( "add logo", :client_logo) unless resource.client_logo
	= f.button :submit, "submit"