= simple_nested_form_for [ :admin, resource ], html: { multipart: true } do |f|
	.clearfix	
		%fieldset#left_column
			%legend Service
			= f.input :name
			= f.input :description
		%fieldset#right_column
			%legend Logo
			= f.simple_fields_for :service_symbol
			= f.link_to_add( "add a logo", :service_symbol) unless resource.service_symbol
	.clearfix	
		%fieldset#left_column
			%legend Skills
			= f.simple_fields_for :skills
			= f.link_to_add "add a skill", :skills
	= f.button :submit, "submit"
		