- present client do |present_client|
	%article[client]
		%header
			= present_client.logo
			- client.services.each do |service|
				%h3= service.name
			= link_to 'more...', '#', :class => 'expand'
		%section.content
			.content-wrapper
				= present_client.organization
				= present_client.website
				= present_client.description
				#gallery	
					- client.images.each do	|image|
						= link_to image_tag(image.asset_path_url(:preview)), image.asset_path_url
				=link_to 'close', '#', :class => 'collapse'