#connections
  = render collection
  - @providers.each do |provider|
    .connection.clearfix
      = link_to "/auth/#{provider}", class: 'connect' do
        = image_tag "#{provider}.png", :size => "48x48", :alt => "#{provider}"
      %p= "add connection"