#connections
  = render collection
  -#- @providers.each do |provider|
  -#  .connection
  -#    = link_to "/auth/#{provider}", class: "connection" do
  -#      = image_tag "#{provider}.png", :size => "48x48", :alt => "#{provider}"
  -#    %p= "Connect with #{provider}."