- present post do |present_post|	
	%article.clearfix[post]{odd_or_even}
		.column_right
			%header
				%h1= present_post.title
				%h2= present_post.sub_title
			%p= present_post.body
		%footer
			= present_post.publish_date
			- unless current_page?(posts_path)
				#social_buttons
					#twitter= share_on_twitter post_url(post), "briandmcnabb", "#{post.title}: #{post.sub_title}"
					#google= google_plus_one post_url(post)
					#facebook= like_on_facebook post_url(post)

				