- present post do |present_post|	
	%article.clearfix[post]
		.column_right
			%header
				%h1= link_to post.title, post_path(post)
				%h2= post.sub_title
			%p= current_page?(posts_path)	? present_post.abbr_body : present_post.body
		%footer
			= present_post.publish_date
			- unless current_page?(posts_path)
				#social_buttons
					#twitter= share_on_twitter post_url(post), "briandmcnabb", "#{post.title}: #{post.sub_title}"
					#google= google_plus_one post_url(post)
					#facebook= like_on_facebook post_url(post)

				